__pycache__/
**/__pycache__/
**/.ipynb_checkpoints/

.ipynb_checkpoints/
**/.ipynb_checkpoints/

**/lightning_logs/

optiver-trading-at-the-close/
.conda/

florence/models
florence/img
florence/best_models
florence/florence_temp
florence/**/*.pkl
florence/logs
